<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rent a Cool Car!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="header">
        <h1>Fill out the form to rent one of our great cars!</h1>
    </div>
    <div id="cars">
        <form action="#" id="form">
            <p>Name: <input type="text"></p>
            <p>Car:  <input type="text"></p>
            <p>When: <input type="date" name="date" id=""></p>
            <p><button>Submit</button></p>
        </form>
    </div>
</body>
</html>