<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coolest Cars</title>
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css">
</head>
<body>
    <div id="header">
        <h1>Hottest Models of 2018!</h1>
    </div>
    <div id="cars">
        <img src="../images/car2.jpg" alt="car2" class="carrito">
        <img src="../images/car1.jpg" alt="car1" class="carrito">
        <img src="../images/car4.jpg" alt="car4" class="carrito">
        <img src="../images/car5.jpg" alt="car5" class="carrito">
        <img src="../images/car3.jpg" alt="car3" class="carrito">
    </div>
</body>
</html>